body {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    text-align: center;
    padding: 20px;
    max-width: 500px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border: 1px solid hsl(0, 4%, 79%);
}

.card-title {
    font-weight: bold;
    color: hsl(240, 68%, 56%);
    padding: 5px;
}

.card a {
    display: block;
    width: 200px;
    font-weight: bold;
    margin: 20px auto 0;
    padding: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    text-align: center;
}

.card a:hover {
    background-color: hsl(160, 88%, 45%);
    color: white;
    text-decoration: none;
    transform: translateY(-2px);
}


.table {
    max-width: 50rem;
    margin: 0 auto;
    table-layout: auto;
}

.table-head th {
	width:200px;
    font-size: 1rem;
    background-color: hsl(160, 88%, 40%);
    color: white;
    padding: 12px;
    text-align: center;
}

td, th {
    padding: 8px;
    text-align: center;
}

td ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.d-flex a {
    padding: 5px 8px;
}

.btn-sm {
    padding: 5px 8px;
    font-size: 0.85rem;
}

@media (max-width: 768px) {
    .table, .table-head th, td {
        font-size: 0.9rem;
        padding: 8px;
    }
}

button.btn-primary,
button.btn-danger {
    padding: 5px 12px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button.btn-primary:hover {
    background-color: hsl(120, 82%, 41%);
    color: white;
    transform: translateY(-2px);
}

button.btn-danger:hover {
    background-color: hsl(0, 78%, 58%);
    color: white;
    transform: translateY(-2px);
}

.toast {
    position: fixed; 
    top: 20px;
    right: 20px;
    z-index: 1050;
    min-width: 300px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.toast-header{
    background-color: #4dff17;
    color: #ffffff; 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
}

.toast.show {
    opacity: 1;
}


.toast-body {
    background-color: #ffffff; 
    color: #333;
    border-bottom-left-radius: 8px; 
    border-bottom-right-radius: 8px; 
    font-weight: bold;
    padding: 10px;
}

.toast .btn-close {
    color: #ffffff; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}